body {
    min-height: 100vh;
    background: #8fbc8f
}
footer {
    margin-top: 11em;
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

footer h3 {
    text-align: center;
    color: black;
    font-size: 1.1em;
    margin-top: 10px;
    margin-bottom: 10px;
}
footer .social-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

footer .social-icon li {
    list-style: none;
}

footer .social-icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social-icon li a:hover {
    transform: translateY(-10px);
}

footer p {
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.7em;
}