section{
    margin: 0;
    padding: 0;
}

p{
    color: black;
    font-size: large;
    text-align: center;
}

/*.skills{
    position: relative;  top: 0;
    left:10%;
    width: 0;
    height: 100%;
    text-align: center;
    font-size:3vw;
    -webkit-text-stroke: 0.3vw #383838;
    text-transform: uppercase;
    border-right: 2px solid greenyellow;
    overflow: hidden;
    animation: animate 7s linear infinite;
}*/
/*.list{
    text-align: center;
    margin: 10px;
    padding: 0 10px 0 25px;
    font-style: italic;
    list-style-type: lower-greek;
    list-style-position: inside;
}
@keyframes animate{
    0%,90%,100%{
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}*/
/*p::before{
    content:attr(skills);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: grey;
    -webkit-text-stroke: 0vw #383d52;    
    overflow: hidden;
}
*/

.wrapper{
    background: linear-gradient(90deg, #7f00ff,#e100ff );
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper a{
    display: inline-block;
    text-decoration: none;
    background-color: #fff;
    padding: 15px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
}

.modal{
    position: absolute;
    text-transform: uppercase;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, 0.7);
    transition: all 0.44s;
    visibility: hidden;
    opacity: 0;
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.boxcontent{
    position: relative;
    background:#fff;
    width: 500px;
    max-width: 90%;
    padding: 1em 2em;
    border-radius: 4px;
}

a{
    font-size: 21px;
    font-weight: 600;
}

.modalclose{
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36px;
}


