p{
    color: black;
    font-size: large;
    text-align: center;
}

.skills{
    text-align: center;
    font-size: large;
}



.list{
    text-align: center;
    margin: 10px;
    padding: 0 10px 0 25px;
    font-style: italic;
    list-style-type: lower-greek;
    list-style-position: inside;
}

